<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bmatznerfoundation/css/foundation.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/yomenaccounts/css/style.css') }}" />


        <script type="text/javascript" src="{{ asset('bundles/bmatznerjquery/js/jquery.min.js') }}"></script>



    </head>
    <body>
        
            <nav id="main_menu" class="top-bar">
                {% block main_menu %}
                <section class="top-bar-section">
                    <ul>
                        <li>
                            <a href="{{ path('account') }}">
                                Accounts
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('operation') }}">
                                Operations
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('category') }}">
                                Category
                            </a>
                        </li>
                    </ul>
                </section>
                {% endblock %}
            </nav>
            <nav id="sub_menu">
                    
                {% block sub_menu %}
                {% endblock %}
            </nav>
            <div id="main_content">
                    {% block body %}
                    {% endblock %}
            </div>
        
        {% block javascripts %}

        {% endblock %}
        <script type="text/javascript" src="{{ asset('bundles/bmatznerfoundation/js/foundation.min.js') }}"></script>
        <script>
     $(document).foundation();
  </script>
    </body>
</html>
